{% extends  'shop/basic.html' %}
{% block title %} About Us- Shopoholics {% endblock %}
{% block body %}
<div class="container my-5">
     <h1> ABOUT US </h1>
    <hr>
    <div class="row my-5">
        <div class="col-md-3 col-xl-3 col-3 my-3">
         <img src='/media/shop/images/admin.jpg' style="width:200px"><br><br>
           <h3> AAYUSHI GUPTA</h3>
               <h5>CEO of Shopoholics</h5>
         </div>
        <div class="col-md-9 col-xl-9 col-9">
        <h5>
            Shopoholics, Inc. is an Indian multinational conglomerate technology company based in Seattle, with 750 employees.
            It focuses on e-commerce, cloud computing, digital streaming, and artificial intelligence. It is considered one of the Big Four
            tech companies, along with Google, Apple, and Microsoft.It has been referred to as "one of the most influential economic and
            cultural forces in the world."
<br><br>

Shopoholics is known for its disruption of well-established industries through technological innovation and mass scale.
            It is the world's largest online marketplace, AI assistant provider, and cloud computing platform as measured by revenue and market
            capitalization. Shopoholics is the largest Internet company by revenue in the world. It is the second largest private employer in the
            India and one of the world's most valuable companies.
<br><br>
Shopoholics was founded by Aayushi Gupta.
            The company initially started as an online marketplace for books but later expanded to sell electronics, software, video games,
            apparel, furniture, food, toys, and jewelry.capitalization.
        </h5>
        </div>

        </div>
</div>


{% endblock %}>