{% extends  'shop/basic.html' %}
{% block title %} {{product.product_name}}-Shopoholics {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
          <div class="col-4">
         <img src="/media/{{product.image}}" class=" m-4" style="height="200px", width="200px"  ><br>
        <button class="btn btn-dark m-2">Buy</button>
        <button class="btn btn-dark m-2">Add to cart</button>
          </div>
  <div class="col-8">
      <h5 class="pt-4">{{product.product_name}}</h5>
      <h6>${{product.price}} </h6>
            <p> {{product.desc}}</p>
    </div>

</div>

</div>
{% endblock %}>